@media screen and(max-widh:767px)and(min-width:576px) {
    .collaps .navbar-collaps ul{
      display: none;
    }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 .navbar-expand-lg{
    position: fixed;
    width:80vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-light .navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    font-weight: 800;
    color:rgb(241, 86, 164);
    margin: 20px;

}

.navbar-collapse {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    list-style: none;
  }

.navbar-light .navbar-nav .nav-link  {
    color: rgb(182 15 98);
    text-transform: uppercase;
    font-size: 19px;
    letter-spacing: 0.1rem;
    margin-right: 135px;
    text-decoration: none;
}



.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(206, 203, 203);
    padding: 10px;
    border-radius: 1px dolid rgb(209, 208, 208) ;
    opacity: 0.5;
    
}

.navbar-toggler-icon{
    background-color: fff; 
  
}
ul.navbar-nav.ml-auto {
    display: flex;
  
}
.nav-item{
    display: flex;
 
}